.header {
    height: 60px;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:8999;
}
.visable {
    background-color: burlywood;
}

.unvisable {
    background-color: #fafafa;
}

.selected {
    position:absolute;
    z-index: 99999;
    right: 40px;
}